# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
.venv/

# Node.js (gereksiz klasörler)
node_modules/
npm-debug.log
yarn-error.log

# OS files
.DS_Store
Thumbs.db
